.socNetworksWrapper {
    display: flex;
    height: 5vh;
    margin-left: 4vw;
}

@media screen and (max-width: 480px) {
    .socNetworksWrapper {
        height: 3vh;
    }
}


@media screen and (min-width: 481px ) and (max-width: 768px) {
}