.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 80vh;

    padding: 5vh 15vw;
}

.cardsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    width: 100%;
}

.input {
    width: 80%;
    margin-bottom: 4vh;
}

.textField {
    width: 20vw;
    height: 10vh;
    overflow-x: auto;

}

@media screen and (max-width: 480px) {
    .contentWrapper {
        padding: 5vh 10vw;
    }

    .input {
        width: 100%;
        margin-bottom: 4vh;
    }

    .cardsWrapper {
        grid-template-columns: 1fr;
        grid-gap: 1%;
    }
}


@media screen and (min-width: 481px ) and (max-width: 768px) {
    .contentWrapper {
        padding: 5vh 5vw;
    }

    .cardsWrapper {
        grid-template-columns: 1fr 1fr;
    }
}




