
.heading {
    color: #8163ff;
    font-size: calc(1vh + 1vw);
}


.input {
    height: 5vh;
    width: 20vw;
    margin-bottom: 2vh;
}

.textField {
    width: 20vw;
    height: 10vh;
    overflow-x: auto;

}

.inputWrapper {
    display: flex;
    flex-direction: column;
}